.home_body {
  margin-left: 270px;
}

.home_search{
  height: 200px;
  background-color: gray;
  margin-bottom: 20px;
}
.home_playlist {
  width: 1100px;
  height: 310px;
  margin: auto;
  margin-bottom: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.home_playlist_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 35px;
}

.home_playlist_name {
  font-size: 25px;
  font-weight: bold;
}

.playlist_info {
  padding-right: 10px;
  cursor: pointer;
}

.home_card_container {
  height: 230px;
  width: 1000px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 0.1rem;
  margin-left: 20px;
}

.home_song_card {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem; 

}

.home_abc{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_card {
  width: 340px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* flexbox 레이아웃을 사용 */
  flex-direction: row; /* 요소들을 수직 방향으로 정렬 */
  justify-content: flex-start; /* 수직 방향으로 중앙 정렬 */
  align-items: center; /* 수평 방향으로 중앙 정렬 */
  text-align: left; /* 텍스트를 중앙 정렬 */
}

.home_cardImage {
  width: 65px; /* Adjust size as needed */
  height: 65px; /* Keep aspect ratio */
  /* Add some margin if needed */
  margin: 15px; /* Add space between image and text */
}

.home_cardContent {
  height: 70px;
  display: flex; /* Keep using flexbox */
  flex-direction: column; /* Keep vertical layout for the text content */
  justify-content: center; /* Center content vertically */
  text-align: left; /* Align text to the left */
  align-items: flex-start; /* 내용을 왼쪽으로 정렬 */
}

.home_cardContent h3 {
  margin-top: 0;
  margin-bottom: 0.125rem;
}

.home_cardContent p {
  margin: 0;
  padding-top: 5px;
  color: #666;
  font-size: 0.875rem;
}
