.home_body{
  margin-left : 270px;

}

/* ContentArea.module.css */

.home_playlist{
    /* background-color: gray; */
    width: 1100px;
    height: 350px;
    margin: auto;
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);

}

.home_playlist_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 35px;
}

.home_playlist_name {
  font-size: 25px;
  font-weight: bold;
}

.playlist_info {
  padding-right: 10px;
  cursor: pointer;
}

.home_card_container{
  height: 230px;
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.1rem; 
}

.home_song_card {
  display: grid; /* Use grid layout for the song cards */
  grid-template-columns: repeat(3, 1fr); /* Create three columns with equal width */
  gap: 0.1rem; /* Set the gap between grid items */
  margin-bottom: 30px; /* Maintain bottom margin for spacing */
  justify-content: space-evenly; /* This can be removed if not needed, as grid takes care of spacing */
}

.home_card {
  /* background-color: yellow; */
  width: 320px;
  height: 110px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* flexbox 레이아웃을 사용 */
  flex-direction: row; /* 요소들을 수직 방향으로 정렬 */
  justify-content: flex-start; /* 수직 방향으로 중앙 정렬 */
  align-items: center; /* 수평 방향으로 중앙 정렬 */
  text-align: left; /* 텍스트를 중앙 정렬 */
}

.home_cardImage {
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Keep aspect ratio */
  /* Add some margin if needed */
  margin: 15px; /* Add space between image and text */
}


.home_cardContent {
  height: 60px;
  display: flex; /* Keep using flexbox */
  flex-direction: column; /* Keep vertical layout for the text content */
  justify-content: center; /* Center content vertically */
  text-align: left; /* Align text to the left */
  align-items: flex-start; /* 내용을 왼쪽으로 정렬 */
}

.home_cardContent h3 {
  margin-top: 0;
  /* margin-bottom: 0.125rem;  */
}

.home_cardContent p {
  /* margin: 0; */
  color: #666;
  font-size: 0.875rem;
}
