.body {
  margin-left: 280px;
}

.playlisttitle {
  /* background-color: yellow; */
  height: 60px;
  align-items: center;
  margin-top: 60px;
  padding-left: 70px;
  font-size: xx-large;
}

.playlistContainer {
  padding: 2rem 4rem;
}

.playlistItem {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  border-bottom-width:2px;
  border-color: black;
}

.playlistImageBox {
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.playlistItem img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

/* .playlistItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  } */

.title {
  width: 40%;
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  flex-direction: row-reverse;
  color: #333;
  margin-bottom: 0.5rem;
}

.artist {
  width: 30%;
  font-size: 1rem;
  color: #666;
}
