.body{
    margin-left : 270px;
  }

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupContent {
    background-color: white;
    border: solid 1px transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    max-width: 500px;
    text-align: center;
    width: 80%;
}

.hideMessage {
    text-align: center;
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 5px;
}

.hideMessage:hover {
    background-color: lightgray;
}

.wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: antiquewhite;
}

.title {
    top: 15px;
    position: fixed;
    font-size: 30px;
    margin-left: 50px;
    z-index: 1000;
}

.selectGenre {
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.genreItem {
    float: left;
    padding-left: 50px;
    text-align: center;
    list-style-type: none;
    font-size: 20px;
}

.genreBox {
    width: 100%;
    margin-top: 340px;
    background-color: rgb(255, 203, 136);
    padding: 20px;
}

.genreList { 
    display: flex;
    flex-wrap: wrap;
}

.genreButton {
    background-color: white;
    width: 250px;
    height: 40px;
    padding: 8px 8px;
    border: solid 1px;
    border-radius: 10px;
    margin : 12px 12px 12px 12px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.genreButton:hover {
    background-color: lightgray;
}

.submitButton {
    background-color: green;
    color: white;
    height: 40px;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    float: right;
    margin-left: 190px;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: darkgreen;
}