.body {
  height: 700px;
  padding-top: 70px;
  background: linear-gradient(to right, rgba(0, 74, 173, 0.6), rgba(203, 108, 230, 0.5));
}

.wrapper {
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
  width: 450px;
  height: 530px;
  border: solid 1px transparent;
  border-radius: 5%;
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);

}

.imgBox {
  display: flex;
  width: 120px;
  height: 80px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 80px;
}

.imgIcon {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.inputBox {
  width: 450px;
  height: 220px;
}

.inputBox .idBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 10px;

}

.idBox .idIcon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
}

.inputtext {
  text-align: left;
  width: 245px;
  height: 35px;
  border: none;
  border-bottom: solid 1px rgba(34, 34, 34, 0.8);
  background: none;
  padding-left: 5px;
  font-size: medium;
}
.inputtext:focus {
  outline: none;
}

.inputBox .psBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 10px;
}

.psBox .psIcon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
}

.bBox {
  width: 450px;
  height: 50px;
  margin-top: 35px;
  padding-bottom: 20px;
}

.button {
  width: 250px;
  height: 50px;
  border: solid 1px transparent;
  border-radius: 8px;
  border-color: rgba(15, 15, 15, 0.4);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button:hover {
  background-color: rgba(122, 122, 122, 0.3);
  color :  black;
  cursor: pointer;
}

.logSpan {
  font-size: 25px;
  /* color: white; */
}

.signUpBox {
  width: 450px;
  height: 50px;
  margin-top: 5px;
}

.signButton {
  border: solid 1px transparent;
  background-color: transparent;
}

.signSpan {
  font-size: 20px;
  color: #868b94;
  font-size: 13px;
  cursor: pointer;
}
